.search {
    position: relative;
    margin-bottom: 10rem;
    input {
        width: 20rem;
        position: relative;
        margin-right: 4px;
    }
    button {
        cursor: pointer;
    }
    &__auto {
        position: absolute;
        display: none;
        pointer-events: auto;

 
        

        &--item {
            cursor: pointer;
            &:active {

                background: skyblue;
            }
        }
        
        width: 100%;
    }
    &:focus-within {
        .show{
            display: block;
            outline: 1px solid;
            padding: 4px;
            background: white;
        }
    }
    
}

.search-wrapper {
    display: flex;
}