.search {
    position: relative;
    margin-bottom: 10rem;
    input {
        width: 20rem;
        position: relative;
    }
   

    &__auto {
        position: absolute;
        display: none;


        &.show {
            display: block;
            outline: 1px solid;
            padding: 4px;
            background: white;
        }

        div {
            cursor: pointer;
            &:hover {

                background: skyblue;
            }
        }
        
        width: 100%;
    }
}
